/* HELPER STYLES START */

a, a:hover, a:active, a:focus
{
	outline: 0;
}

.pos-absolute
{
    position: absolute;
}

.pos-relative
{
    position: relative;
}

.pos-fixed
{
    position: fixed;
    z-index: 300000
}

.txt-rep
{
    display: block;
    text-indent: -9999px;
}

.clear-both
{
    clear: both;
}

.align-right
{
    text-align: right
}

.align-center
{
    text-align: center
}

/* HELPER STYLES END */

/* GENERAL STYLES START */

@media (min-width: 980px)
{
  body
  {
    padding-top:40px;
  }
}

@media (max-width: 979px)
{
    .navbar-fixed-top
    {
        margin-bottom: 0px;
    }
}

@media (max-width: 767px)
{
    body {
        padding-right: 5px;
        padding-left: 5px;
    }
}

body
{
    margin-top: 42px;
    margin-bottom: 78px;
}

.img
{
    width:40px;
    height:40px;
    border:1px solid #c3c3c3;
    background-position:50% 50%;
}

.img.small
{
    width:25px;
    height:25px;
}

.img.big
{
    width:80px;
    height:80px;
}

.img a
{
    display: block;
    width: 39px;
    height: 39px;
}

.img.small a
{
    width: 24px;
    height: 24px;
}

.img.big a
{
    width: 79px;
    height: 79px;
}

hr
{
    margin-top: 3px;
    margin-bottom: 3px;
}

label.error
{
    font-size: 11px;
    margin-top: -10px;
    font-weight: bold;
    color: #e60200
}

.body-withsearch
{
    padding-top: 38px;
}

.modal
{
    z-index: 400000; 
}

.modal-backdrop {
    z-index: 300000;
}

.modal.fade.in
{
    top: 50px;
}

ul.common-list
{
    margin-left: 5px;
    margin-right: 5px;
    border: 0px;
}

ul.common-list li
{
    height: 28px;
    padding: 2%;
    margin: 1% !important;
    line-height: 28px !important;
    width: 44%;
    border-radius: 4px;
    font-size: 12px;
    background-color: #eeeeee
}

ul.common-list li .badge
{
    margin-top: 5px !important;
    margin-right: 0px !important;
}

ul.common-list span
{
    margin-left: 0px;
}

ul.common-list.follow li
{
    height: 50px;
    line-height: normal !important;
    padding-top: 9px;
}

ul.common-list.follow li p
{
    margin-bottom: 5px;
}

/* GENERAL STYLES END */

/* ICON STYLES START */

.icon.primary
{
    color: #09a8ef;
}

.icon.info
{
    color: #456e9b;
}

.icon.success
{
    color: #45c728;
}

.icon.warning,
.icon.medium-priority
{
    color: #eb8304;
}

.icon.danger,
.icon.high-priority
{
    color: #e60200;
}

.icon.inverse
{
    color: #2f343b;
}

.icon.low-priority
{
    color: #a5a5a5;
}

/* ICON STYLES END */

/* HEADER STYLES START */

header
{
    background-color: #fff059;
    color: #dbdbdb;
    width: 98%;
    padding:1%;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0px;
    left: 0px;
    margin: 0px;
    border-bottom: 1px #d9d9d9 solid;
}

header h1
{
    font-size: 16px;
    line-height: 27px;
    margin: 0px;
    color: #fff;
    padding-left: 5px;
}

header .btn.pull-left
{
    margin-right:10px;
}

header .btn i
{
    margin-top: 2px;
    margin-right: 1px;
}

/* ML */
.container
{
	margin-top: 120px;
}

.shop-image
{
	text-align: center;
	margin: 3px;
}

/* HEADER STYLES END */

/* NAVIGATION STYLES START */

nav
{
    width: 98%;
    padding: 1%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    background-color: #2f343b;
    border-top: 1px solid #c3c3c3;
    bottom: 0px;
    left: 0px;
}

nav ul
{
    margin: 0 auto !important;
    width: 310px;
}

nav ul li
{
    margin: 0;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    float: left;
    font-size: 9px;
    width: 52px;
    height: 51px;
    text-align: center;
    padding-top: 12px;
}


nav ul li.timeline a,
nav ul li.timeline a:visited,
nav ul li.timeline a:hover,
nav ul li.timeline a:active,
nav ul li.message a,
nav ul li.message a:visited,
nav ul li.message a:hover,
nav ul li.message a:active,
nav ul li.monitor a,
nav ul li.monitor a:visited,
nav ul li.monitor a:hover,
nav ul li.monitor a:active,
nav ul li.projects a,
nav ul li.projects a:visited,
nav ul li.projects a:hover,
nav ul li.projects a:active,
nav ul li.contacts a,
nav ul li.contacts a:visited,
nav ul li.contacts a:hover,
nav ul li.contacts a:active,
nav ul li.settings a,
nav ul li.settings a:visited,
nav ul li.settings a:hover,
nav ul li.settings a:active
nav ul li.active a,
nav ul li.active a:visited,
nav ul li.active a:hover,
nav ul li.active a:active
{
    color: #dbdbdb;
    text-decoration: none;
    background-color: #2f343b !important;
}


nav ul li i
{
    font-size: 32px;
    display: block;
    margin-top: 9px;
    margin-bottom: 5px;
}

.body-timeline nav ul li.timeline,
.body-projects nav ul li.projects,
.body-contacts nav ul li.contacts,
.body-settings nav ul li.settings,
nav ul li.active
{
    background-color: #5c5c5c
}


.body-timeline nav ul li.timeline a,
.body-timeline nav ul li.timeline a:visited,
.body-timeline nav ul li.timeline a:hover,
.body-timeline nav ul li.timeline a:active,
.body-projects nav ul li.projects a,
.body-projects nav ul li.projects a:visited,
.body-projects nav ul li.projects a:hover,
.body-projects nav ul li.projects a:active,
.body-contacts nav ul li.contacts a,
.body-contacts nav ul li.contacts a:visited,
.body-contacts nav ul li.contacts a:hover,
.body-contacts nav ul li.contacts a:active,
.body-settings nav ul li.settings a,
.body-settings nav ul li.settings a:visited,
.body-settings nav ul li.settings a:hover,
.body-settings nav ul li.settings a:active,
nav ul li.active a,
nav ul li.active a:visited,
nav ul li.active a:hover,
nav ul li.active a:active
{
    color: #fff;
    background-color: #5c5c5c !important;
}

.body-timeline.body-monitor nav ul li.timeline a,
.body-timeline.body-monitor nav ul li.timeline a:visited,
.body-timeline.body-monitor nav ul li.timeline a:hover,
.body-timeline.body-monitor nav ul li.timeline a:active
{
    color: #dbdbdb !important;
    background-color: #2f343b !important;
}

nav .badge
{
    z-index: 10;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 2px;
    font-size: 9px;
    top: 5px;
    right: 5px;
}

/* NAVIGATION STYLES END */

/* FOOTER STYLES START */

footer
{
    margin-top: 5px;
    padding: 1%;
    width:98%;
    background-color: #2f343b;
    color: #fff;dro
    left: 0px;
    position: absolute;
}

/* FOOTER STYLES END */

/* SELECT SCREEN STYLES START */

ul.nav.nav-tabs.nav-stacked li > .img
{
    margin-right:10px;
}

ul.nav.nav-tabs.nav-stacked li > strong
{
    margin-bottom:0px;
}

ul.nav.nav-tabs.nav-stacked li > ul.social-service
{
    margin:0px;
    padding:0px;
}

ul.nav.nav-tabs.nav-stacked li i.icon-chevron-right
{
    right:9px;
    top:20px;
}

ul.nav.nav-tabs.nav-stacked li .badge
{
    margin-right: 15px;
}

ul.nav.nav-tabs.nav-stacked li
{
    font-size: 12px;
    line-height: 16px;
}

ul.nav.nav-tabs.nav-stacked li a i
{
    margin-top: 2px;
}

/* SELECT SCREEN STYLES END */

/* MONITOR STYLES START */

ul.nav.nav-tabs.nav-stacked > a table tr td p b i
{
    margin-left: -3px;
    margin-top: -1px;
    margin-right: -3px;
}

ul.nav.nav-tabs.nav-stacked a table .actions
{
    margin-top: 5px;
    display: none;
}

ul.nav.nav-tabs.nav-stacked li > a p
{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 2px;
    color: #333;
}

ul.nav.nav-tabs.nav-stacked li > a:hover 
{ 
    background-color: #fff; 
} 
 
ul.nav.nav-tabs.nav-stacked li > a.active, 
ul.nav.nav-tabs.nav-stacked li > a.active:hover 
{ 
    background-color: #fff1ba !important; 
} 
 
ul.nav.nav-tabs.nav-stacked li > a.unread 
{ 
    background-color: #fff; 
} 
 
ul.nav.nav-tabs.nav-stacked li > a.read, 
ul.nav.nav-tabs.nav-stacked li > a.read:hover 
{ 
    background-color: #eee; 
}

ul.nav.nav-tabs.nav-stacked li > a small
{
    font-size: 10px;
}

.label
{
    margin: 1px;
}

table tr > td > div.message-type
{
    font-size: 10px;
    background-color: #f8f8f8;
    color: #333;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

table tr > td > div.message-type.private
{
    background-color: #e3e3e3;
}

table tr > td > div.message-type i.icon-paper-clip
{
    margin-left: -3px;
    margin-top: -1px;
    margin-right: 5px;
}

/* MONITOR STYLES END */

/* SEARCH STYLES START */

form.search
{
    top: 70px;
    left: 0px;
    width: 98%;
    padding: 1%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #F8F8F8;
    border-bottom: #ACABAD 1px solid;
    border-top: #ACABAD 1px solid;
    height: 30px;
}

form.search .btn i
{
    margin-top: 3px;
}

/* SEARCH STYLES END */

/* MESSAGE DETAIL STYLES START */

.body-monitor td .btn.btn-small i
{
    margin-top: 3px;
    margin-right: -7px;
}

.body-monitor td p i
{
    font-size: 16px;
}

.body-monitor td > p i {
    margin-top:-1px;
}

.body-monitor td > p {
    margin-bottom:5px;
}

/* MESSAGE DETAILS STYLES END */

/* NEW MESSAGE STYLES START */

.new-message
{
    margin-top: 45px;
}

.new-message .img.small
{
    margin-right: 5px
}

.new-message form
{
    margin-top: 10px;
}

.new-message small,
.new-message ul.social-service li
{
    line-height: 25px;
    margin-left: 0px;
}

.new-message small
{
    margin-left: 0px;
}

.new-message ul.social-service
{
    margin-left: 5px;
    margin-bottom: 0px;

}

.new-message textarea
{
    width: 96%;
    height: 100px;
}

.new-message .btn
{
    margin-top: 5px;
}

.new-message form .btn
{
    margin-top: 0px;
    margin-bottom: 5px;
}

.new-message .counter
{
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    background-color: #dbdbdb;
    border-radius: 3px;
}

.new-message .well-small
{
    margin-bottom: 5px;
}

.new-message .well .btn,
.new-message .well input,
.new-message .well select
{
    margin-bottom: 0px;
}
/* NEW MESSAGE STYLES END */